



$color-green: #C3DC00;
$blue-dark:#031a57;

@font-face {
    font-family: 'fontTablero';
    src: url(../8bitOperatorPlusSC-Bold.ttf);
}

body{
    // background-image: linear-gradient(135deg, rgb(1, 16, 57),#031a58,#031e68,#062478,#042171,#052b91,#0b36ac);
    background: $blue-dark;
    font-family: 'Nunito', sans-serif;
    color: #fff;
    font-size: 1.2em;
    // animation: backanimated 10s infinite;

}

@keyframes backanimated{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}


// Estilo para el header:

h1{
    color: $color-green;
    font-family: fontTablero, sans-serif;
    letter-spacing:10px ;

}
header{
    h2{
        color: #fff;
    }
}

header{
    display:flex;
    justify-content: center;
}

.count{
    color:#fff;
    display: flex;
    justify-content: center;
    .simply-section{
        height: 7rem;
        width: 7rem;
        color: #000;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 0.5rem;
        background: $color-green;
        border-radius: 50%;
        span{
            display: flex;
            flex-direction: column;
            align-items: center;
            font-family: fontTablero, sans-serif;
            font-size: 1.5em;
            font-weight: 500;
        }
        .simply-word{
            font-size: 1.2em;
        }
    }

    .simply-minutes-section,.simply-seconds-section{
        display:none;
    }

}

.simply-section:hover{
    animation: uploadTime 1s infinite;
}

@keyframes uploadTime{
    0%{
        border-left:0.3rem solid #3b4203;
        border-right:0.3rem solid transparent;
        border-top:0.3rem solid transparent;
        border-bottom:0.3rem solid transparent;
    }
    25%{
        border-left:0.3rem solid #3b4203;
        border-right:0.3rem solid transparent;
        border-top:0.3rem solid transparent;
        border-bottom:0.3rem solid transparent;
    }
    50%{border-top:0.3rem solid #3b4203;
        border-bottom:0.3rem solid transparent;
        border-left:0.3rem solid transparent;
        border-right:0.3rem solid transparent;
    }
    75%{
        border-right:0.3rem solid #3b4203;
        border-top:0.3rem solid transparent;
        border-left:0.3rem solid transparent;
        border-bottom:0.3rem solid transparent;
    }
    100%{border-bottom:0.3rem solid #3b4203;
        border-top:0.3rem solid transparent;
        border-right:0.3rem solid transparent;
        border-left:0.3rem solid transparent;
    }
}


.row{
    position: relative;
    margin-bottom: 5rem;
    .corner{
        position: absolute;
        border-top: 4px solid $color-green;
        border-left: 4px solid $color-green;
        height: 6rem; width: 6rem;
        border-radius: 4%;
        .triangle{
            position: absolute;
            top:0; left:0;
            height: 2rem; width:2rem;
            background: $color-green;
        }
        .across-t{
            position: absolute;
            left: 9.4px;
            top: 9.4px;
            background: #031a57;
            transform: rotate(45deg);
            height: 1.4142135623730950488016887242097*2rem; width:1.4142135623730950488016887242097*2rem;
        }
    }
    .corner:nth-child(1){
        left: 0;
        top: 0;
    }
    .corner:nth-child(2){
        right: 0;
        top: 0;
        transform: rotate(90deg);
    }
    .corner:nth-child(3){
        left: 0;
        bottom: 0;
        transform: rotate(-90deg);
    }
    .corner:nth-child(4){
        right: 0;
        bottom: 0;
        transform: rotate(180deg);
    }
    
}

// Botón de inscripción:

.btn-inscription{
    font-family: 'Nunito', sans-serif;
    color: #000;
    font-size: 1.2em;
    background: $color-green;
    border:none;
    transition: 0.1s;
    span{
        position: absolute;
        display: block;
    }
    span:nth-child(1){
        top:0;
        left:-100%;
        width: 100%;
        height: 2px;
        background: linear-gradient(90deg, transparent,black);
    }

}
.btn-inscription:hover{
    background: $color-green;
    box-shadow: 0 0 10px $color-green,
    0 0 40px $color-green,
    0 0 80px $color-green;
    transition-delay: 1s;
    span:nth-child(1){
        left:100%;
        transition:1s;
    }
    

}

// first section:

.hackgroup{
    background: linear-gradient(rgba(1, 16, 57, 0.5),rgba(1,16,57,0.6)), url(../img/images.jpeg) no-repeat;
    background-position: center;
    background-size: contain;
    background-size: cover;
    border-radius: 5%;
    height: 300px;
    width: 400px;
    margin: 2rem auto;
    margin-bottom: 1rem;
}






















// Modal inscripción Hackathon

.modal{
    color: #000;
    .modal-header{
        background: #e5e7eb;
    }
}