@font-face {
  font-family: 'fontTablero';
  src: url(../8bitOperatorPlusSC-Bold.ttf); }

body {
  background: #031a57;
  font-family: 'Nunito', sans-serif;
  color: #fff;
  font-size: 1.2em; }

h1 {
  color: #C3DC00;
  font-family: fontTablero, sans-serif;
  letter-spacing: 10px;
  display: inline-block; }

.count {
  color: #fff;
  display: flex;
  justify-content: center; }
  .count .simply-section {
    height: 7rem;
    width: 7rem;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0.5rem;
    background: #C3DC00;
    border-radius: 50%; }
    .count .simply-section span {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: fontTablero, sans-serif;
      font-size: 1.5em;
      font-weight: 500; }
    .count .simply-section .simply-word {
      font-size: 1.2em; }
  .count .simply-minutes-section, .count .simply-seconds-section {
    display: none; }

.btn-inscription {
  font-family: 'Nunito', sans-serif;
  color: #000;
  font-size: 1.2em;
  background: #C3DC00;
  border: none; }

.btn-inscription:hover {
  background: #C3DC00;
  box-shadow: 0 0 10px #C3DC00, 0 0 40px #C3DC00, 0 0 80px #C3DC00; }

.btn-inscription:active {
  background: #C3DC00; }

.modal {
  color: #000; }
  .modal .modal-header {
    background: #e5e7eb; }
  .modal .enviar {
    background: #C3DC00; }

.row-container {
  position: relative;
  margin-bottom: 5rem; }
  .row-container .corner {
    position: absolute;
    border-top: 4px solid #C3DC00;
    border-left: 4px solid #C3DC00;
    height: 4rem;
    width: 4rem;
    border-radius: 4%; }
    .row-container .corner .triangle {
      position: absolute;
      top: 0;
      left: 0;
      height: 2rem;
      width: 2rem;
      background: #C3DC00; }
    .row-container .corner .across-t {
      position: absolute;
      left: 9.4px;
      top: 9.4px;
      background: #031a57;
      transform: rotate(45deg);
      height: 2.82843rem;
      width: 2.82843rem; }
  .row-container .corner:nth-child(1) {
    left: 0;
    top: 0; }
  .row-container .corner:nth-child(2) {
    right: 0;
    top: 0;
    transform: rotate(90deg); }
  .row-container .corner:nth-child(3) {
    left: 0;
    bottom: 0;
    transform: rotate(-90deg); }
  .row-container .corner:nth-child(4) {
    right: 0;
    bottom: 0;
    transform: rotate(180deg); }

.main-info {
  padding: 0; }
  .main-info li {
    display: inline-block; }
    .main-info li div {
      height: 1rem;
      width: 1rem;
      /* outline: 1px solid; */
      display: inline-block;
      border-radius: 50%;
      background: #c3dc00;
      position: relative; }
      .main-info li div div {
        height: 0.6rem;
        width: 0.3rem;
        /* outline: 1px solid; */
        margin: auto;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0.2rem;
        transform: rotate(49deg);
        border-bottom: 2px solid #031a57;
        border-right: 2px solid #031a57;
        border-radius: initial; }

.hackgroup {
  background: linear-gradient(rgba(1, 16, 57, 0.5), rgba(1, 16, 57, 0.6)), url(../img/images.jpeg) no-repeat;
  background-position: center;
  background-size: contain;
  background-size: cover;
  border-radius: 5%;
  height: 300px;
  width: 400px;
  margin: 2rem auto;
  margin-bottom: 1rem; }

.info-premios {
  border-left: 1px solid #031a57; }
  .info-premios i {
    color: #C3DC00; }

.line-div {
  width: 2px;
  height: 244px;
  border-right: 2px solid #1c3782; }

.patrocinadores {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(6rem, 1fr));
  grid-auto-rows: 7rem;
  gap: 1rem; }
  .patrocinadores .item img {
    width: 100%;
    height: 100%;
    object-fit: contain; }
  .patrocinadores .wide {
    grid-column: span 2; }

.footer {
  background: #eaff4e; }
  .footer i {
    color: #000; }
